# three steps
after importing the combined_table_conflicts.csv
1. create the columns for every conflict type and for every chanel
2. separate the conflict columns in individual tables with non empty conflict column
3 for every conflict type in every conflict table find the worst case for every mission name and produce a reduced table with only one mission per column

In [1]:
import pandas as pd
import numpy as np
import os
from IPython.display import display
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from ITUtils import *
from tqdm.notebook import tqdm

## Step 1
expand the conflicts table

In [2]:
# load the dataframe
filename = './databases/combined_tables_conflicts.csv'
df = pd.read_csv(filename, low_memory=False)
# load tpa dataframe
tpafile = './databases/TPAtable.csv'
tpadf = pd.read_csv(tpafile, low_memory=False)

In [3]:
print(df.columns)

Index(['com_el.ntc_id', ' com_el.tgt_ntc_id', ' com_el.adm',
       ' com_el.ntwk_org', ' com_el.sat_name', ' com_el.long_nom',
       ' com_el.prov', ' com_el.d_rcv', ' com_el.st_cur', ' orbit.orb_id',
       ' orbit.nbr_sat_pl', ' orbit.apog_km', ' orbit.perig_km',
       ' orbit.op_ht_km', ' s_beam.emi_rcp', ' s_beam.beam_name',
       ' grp.grp_id', ' grp.freq_min', ' grp.freq_max', ' grp.bdwdth',
       ' grp.d_inuse', ' grp.d_reg_limit', ' grp.d_prot_eff', ' grp.f_biu',
       ' emiss.seq_no', ' emiss.pwr_ds_max', ' emiss.design_emi',
       ' carrier_fr.freq_carr', ' channel.bandwidth', ' channel.freq_min',
       ' channel.freq_max', 'tpaconflicts', 'percentoverlap'],
      dtype='object')

In [4]:
display(df.head(4))

,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.long_nom,com_el.prov,com_el.d_rcv,com_el.st_cur,orbit.orb_id,...,grp.f_biu,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr,channel.bandwidth,channel.freq_min,channel.freq_max,tpaconflicts,percentoverlap
0,113540412,NaN,ARS,NaN,SAUDISAT-6,NaN,9.1/IA,26.08.2020,50,1.0,...,NaN,1.0,-34.1,530KF1DAN,2055.5,530000.0,2055.235,2055.765,2:,100
1,113540412,NaN,ARS,NaN,SAUDISAT-6,NaN,9.1/IA,26.08.2020,50,1.0,...,NaN,1.0,-34.1,530KF1DAN,2055.5,530000.0,2055.235,2055.765,2:,100
2,123545291,NaN,ARS,NaN,SPACETOWER-1,NaN,9.1/IA,07.09.2023,50,1.0,...,NaN,1.0,-65.8,6M40D1D--,2205.5,6400000.0,2202.300,2208.700,11:,100
3,115500119,NaN,ARS,NaN,SAUDISAT-5,NaN,11.2,24.08.2015,50,1.0,...,C,1.0,-34.1,530KF1DAN,2055.5,530000.0,2055.235,2055.765,2:,100

In [5]:
# create the extra columns
expanded = conflict_expander(df, tpadf)

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
['TPA1.401.95525-401.96475_R', 'TPA1.401.9501-401.9699_R', 'TPA1.2055.475-2055.725_R', 'TPA1.401.89525-401.90475_R', 'TPA1.2237.0-2238.0_E', 'TPA1.2065.575-2065.825_R', 'TPA1.401.9501-401.9699_E', 'TPA1.401.8901-401.9099_R', 'TPA1.401.95525-401.96475_E', 'TPA1.401.8901-401.9099_E', 'TPA1.401.89525-401.90475_E', 'TPA1.2202.4-2203.4_E']

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=26742), Label(value='0 / 26742')))…

In [6]:
# save
filenameout = './databases/expanded_combined_tables_conflicts.csv'
expanded.to_csv(filenameout, index=False)
print('file saved to', filenameout)

file saved to ./databases/expanded_combined_tables_conflicts.csv

## Step 2 
separate the conflicts

In [7]:
outfolder = 'output_tables'
if not os.path.exists(outfolder):
    os.makedirs(outfolder)
conflict_tables_separator(expanded, tpadf, outfolder)

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
['TPA1.401.95525-401.96475_R', 'TPA1.401.9501-401.9699_R', 'TPA1.2055.475-2055.725_R', 'TPA1.401.89525-401.90475_R', 'TPA1.2237.0-2238.0_E', 'TPA1.2065.575-2065.825_R', 'TPA1.401.9501-401.9699_E', 'TPA1.401.8901-401.9099_R', 'TPA1.401.95525-401.96475_E', 'TPA1.401.8901-401.9099_E', 'TPA1.401.89525-401.90475_E', 'TPA1.2202.4-2203.4_E']
table saved to output_tables/TPA1.401.95525-401.96475_R_E.csv
table saved to output_tables/TPA1.401.95525-401.96475_R_R.csv
table saved to output_tables/TPA1.401.95525-401.96475_R_E_worstcase.csv
table saved to output_tables/TPA1.401.95525-401.96475_R_R_worstcase.csv
table saved to output_tables/TPA1.401.9501-401.9699_R_E.csv
table saved to output_tables/TPA1.401.9501-401.9699_R_R.csv
table saved to output_tables/TPA1.401.9501-401.9699_R_E_worstcase.csv
table saved to output_tables/TPA1.401.9501-401.9699_R_R_worstcase.csv
table saved to output_tables/TPA1.2055.475-2055.725_R_E.csv
table saved to output_tables/TPA1.2055.475-2055.725_R_R.csv
table saved to output_tables/TPA1.2055.475-2055.725_R_E_worstcase.csv
table saved to output_tables/TPA1.2055.475-2055.725_R_R_worstcase.csv
table saved to output_tables/TPA1.401.89525-401.90475_R_E.csv
table saved to output_tables/TPA1.401.89525-401.90475_R_R.csv
table saved to output_tables/TPA1.401.89525-401.90475_R_E_worstcase.csv
table saved to output_tables/TPA1.401.89525-401.90475_R_R_worstcase.csv
table saved to output_tables/TPA1.2237.0-2238.0_E_E.csv
table saved to output_tables/TPA1.2237.0-2238.0_E_R.csv
table saved to output_tables/TPA1.2237.0-2238.0_E_E_worstcase.csv
table saved to output_tables/TPA1.2237.0-2238.0_E_R_worstcase.csv
table saved to output_tables/TPA1.2065.575-2065.825_R_E.csv
table saved to output_tables/TPA1.2065.575-2065.825_R_R.csv
table saved to output_tables/TPA1.2065.575-2065.825_R_E_worstcase.csv
table saved to output_tables/TPA1.2065.575-2065.825_R_R_worstcase.csv
table saved to output_tables/TPA1.401.9501-401.9699_E_E.csv
table saved to output_tables/TPA1.401.9501-401.9699_E_R.csv
table saved to output_tables/TPA1.401.9501-401.9699_E_E_worstcase.csv
table saved to output_tables/TPA1.401.9501-401.9699_E_R_worstcase.csv
table saved to output_tables/TPA1.401.8901-401.9099_R_E.csv
table saved to output_tables/TPA1.401.8901-401.9099_R_R.csv
table saved to output_tables/TPA1.401.8901-401.9099_R_E_worstcase.csv
table saved to output_tables/TPA1.401.8901-401.9099_R_R_worstcase.csv
table saved to output_tables/TPA1.401.95525-401.96475_E_E.csv
table saved to output_tables/TPA1.401.95525-401.96475_E_R.csv
table saved to output_tables/TPA1.401.95525-401.96475_E_E_worstcase.csv
table saved to output_tables/TPA1.401.95525-401.96475_E_R_worstcase.csv
table saved to output_tables/TPA1.401.8901-401.9099_E_E.csv
table saved to output_tables/TPA1.401.8901-401.9099_E_R.csv
table saved to output_tables/TPA1.401.8901-401.9099_E_E_worstcase.csv
table saved to output_tables/TPA1.401.8901-401.9099_E_R_worstcase.csv
table saved to output_tables/TPA1.401.89525-401.90475_E_E.csv
table saved to output_tables/TPA1.401.89525-401.90475_E_R.csv
table saved to output_tables/TPA1.401.89525-401.90475_E_E_worstcase.csv
table saved to output_tables/TPA1.401.89525-401.90475_E_R_worstcase.csv
table saved to output_tables/TPA1.2202.4-2203.4_E_E.csv
table saved to output_tables/TPA1.2202.4-2203.4_E_R.csv
table saved to output_tables/TPA1.2202.4-2203.4_E_E_worstcase.csv
table saved to output_tables/TPA1.2202.4-2203.4_E_R_worstcase.csv