# two steps
after importing the combined_table_conflicts.csv
1. create the columns for every conflict type and for every chanel
2. separate the conflict columns in individual tables with non empty conflict column for every conflict type in every conflict table find the worst case for every mission name and produce a reduced table with only one mission per column

In [1]:
import pandas as pd
import numpy as np
import os
from IPython.display import display
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from ITUtils import *
from tqdm.notebook import tqdm

## Step 1
expand the conflicts table

In [2]:
# load the dataframe
filename = './databases/combined_tables_conflicts.csv'
df = pd.read_csv(filename, low_memory=False)
# load tpa dataframe
tpafile = './databases/TPAtable.csv'
tpadf = pd.read_csv(tpafile, low_memory=False)

In [3]:
print(df.columns)

Index(['com_el.ntc_id', ' com_el.tgt_ntc_id', ' com_el.adm',
       ' com_el.ntwk_org', ' com_el.sat_name', ' com_el.long_nom',
       ' com_el.prov', ' com_el.d_rcv', ' com_el.st_cur', ' orbit.orb_id',
       ' orbit.nbr_sat_pl', ' orbit.apog_km', ' orbit.perig_km',
       ' orbit.op_ht_km', ' s_beam.emi_rcp', ' s_beam.beam_name',
       ' grp.grp_id', ' grp.freq_min', ' grp.freq_max', ' grp.bdwdth',
       ' grp.d_inuse', ' grp.d_reg_limit', ' grp.d_prot_eff', ' grp.f_biu',
       ' emiss.seq_no', ' emiss.pwr_ds_max', ' emiss.design_emi',
       ' carrier_fr.freq_carr', ' channel.bandwidth', ' channel.freq_min',
       ' channel.freq_max', 'tpaconflicts', 'percentoverlap'],
      dtype='object')

In [4]:
display(df.head(4))

,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.long_nom,com_el.prov,com_el.d_rcv,com_el.st_cur,orbit.orb_id,...,grp.f_biu,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr,channel.bandwidth,channel.freq_min,channel.freq_max,tpaconflicts,percentoverlap
0,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,1.0,...,NaN,1.0,-21.2,20M0G7D--,2057.0,20000000.0,2047.0,2067.0,2:5:,100:100
1,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,1.0,...,NaN,3.0,-56.0,90M0G7D--,2245.0,90000000.0,2200.0,2290.0,4:11:,100:100
2,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,1.0,...,NaN,1.0,-21.2,20M0G7D--,2067.5,20000000.0,2057.5,2077.5,5:,100
3,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,3.0,...,NaN,1.0,-21.2,20M0G7D--,2067.5,20000000.0,2057.5,2077.5,5:,100

In [5]:
# create the extra columns
expanded = conflict_expander(df, tpadf)

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
['TPA1.401.95525-401.96475_R', 'TPA1.401.9501-401.9699_R', 'TPA1.2055.475-2055.725_R', 'TPA1.401.89525-401.90475_R', 'TPA1.2237.0-2238.0_E', 'TPA1.2065.575-2065.825_R', 'TPA1.401.9501-401.9699_E', 'TPA1.401.8901-401.9099_R', 'TPA1.401.95525-401.96475_E', 'TPA1.401.8901-401.9099_E', 'TPA1.401.89525-401.90475_E', 'TPA1.2202.4-2203.4_E']

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=26557), Label(value='0 / 26557')))…

In [6]:
# save
filenameout = './databases/expanded_combined_tables_conflicts.csv'
expanded.to_csv(filenameout, index=False)
print('file saved to', filenameout)

file saved to ./databases/expanded_combined_tables_conflicts.csv

## Step 1.5 filter database for desired names

In [7]:
expanded, rejected, biglist = sat_names_isolator(expanded, os.path.join('.','satellitenames'))

filenameout = './databases/expanded_combined_tables_conflicts.csv'
expanded.to_csv(filenameout, index=False)
print('file saved to', filenameout)

filenamerej = './databases/expanded_combined_tables_conflicts_rejected.csv'
rejected.to_csv(filenamerej, index=False)
print('file saved to', filenamerej)
print(biglist)

file saved to ./databases/expanded_combined_tables_conflicts.csv
file saved to ./databases/expanded_combined_tables_conflicts_rejected.csv
['MOHAMMED VI - AB', 'BUSANSAT', 'CAS500-3', 'CAS500-4', 'CAS500-5', 'CONTECSAT-A', 'CONTECSAT-S', 'GEO-KOMPSAT-2-128.2E', 'GK2-128.2E', 'KOMPSAT-2', 'KOMPSAT-3', 'KOMPSAT-6', 'KOMPSAT-7A', 'KOMPSAT-7', 'KOREASAT-11', 'KOREASAT-128.2A', 'KOREASAT-128.2E', 'KOREASAT-12', 'KOREASAT-13', 'KOREASAT-A', 'KOREASAT-C', 'KOREASAT-E', 'KOREASAT-T1', 'KOREASAT-T3', 'KOREASAT 3-1', 'KOREASAT 7-1', 'KPS-G1', 'KPS-NGSO', 'NEXTSAT-1', 'NEXTSAT-2', 'POLSIS', 'PVSAT', 'STSAT-3', 'GEMS02-AMETHYST', 'COSMO SKYMED', 'COSMOSKYMED-2', 'HERMES', 'ITA-LEO', 'ITASAT-1A', 'ITASAT-1B', 'ITASAT-1C', 'ITASAT-1D', 'SICRAL-2A', 'SICRAL-3A', 'SICRAL-3H', 'SICRAL-4-37E', 'GALILEO-M-NAVSTAR', 'PARS-1', 'ZAFAR', 'NAJM', 'HODHOD', 'IRN-ERS-1', '', 'ERMIS', 'MICE', 'SL-OMV-1', 'UKNETSAT-143W', 'JUKEBOX', 'TARD-1S', 'SPACECOMMS-L1', 'SATVU-1', 'SSG-CSL', 'FARADAY-1', 'TITANIA', 'AZRF', 'AC1', 'AAC-AIS', 'AAC-HSI', 'LIZZIE IOMSAT', 'ZSAT-S1', 'CDCSAT-1', 'ESAT 1', 'HMG-SAT-01A', 'SKYNET-4J', 'SKYNET-4K', 'SKYNET-4L', 'SKYNET-4M', 'SKYNET-5A', 'SKYNET-5B', 'SKYNET-5C', 'SKYNET-5D', 'SKYNET-5E', 'SKYNET-5H-KA2', 'Deimos-2', 'PAZ', 'PAZ_R', 'PAZ_2-A', 'URDANETA', 'SATLNET-02 ', 'SATLNET-03', 'STARTICAL-CONSTELLATION-A', 'XPLSAT-1', 'operator=EMAD', 'HISPASAT-2A X', 'HISPASAT-1', 'HISPASAT-LEO-ATL-A', 'CHALLENGEONE', 'SPUTNIX', 'CSDRN-M', 'WSDRN-M', 'VSSRD-2M', 'KANOPUS-V', 'UCTS-ISS', 'ESDRN-M', 'METEOR-3M', 'ARCTICA-M', 'GOMS-166E', 'GOMS-14.5W', 'GOMS-M', 'RASSVET', 'PROGNOZ-1', 'PROGNOZ-2', 'PROGNOZ-3', 'PROGNOZ-4', 'PROGNOZ-5', 'PROGNOZ-6', 'PROGNOZ-7', 'PROGNOZ-8', 'PROGNOZ-N', 'GEO-IK-2', 'GLONASS-M', '', 'ADS', 'BRITE-CANADA', 'CANSAT-LEO-S2', 'CANX-2', 'CANX-4-5', 'CASSIOPE-1A', 'CHORUS-C1', 'EV10', 'GHGSAT-CX', 'GHGSAT-D', 'GJP', 'HOTH', 'KELYPSIS', 'M3MSAT', 'NEOSSAT-1A', 'QEYSSAT', 'RADARSAT-2C', 'RADARSAT-3C', 'SAPPHIRE', 'SCISAT-1', 'JARVIS', 'JARVIS-2', 'NAOS', 'TRITON-X-LIS', '', 'LS-4', 'ASIOT_NBIOT22', 'NAMADGI', 'DIAMANT', 'PAX-1', 'AETHER-C', 'AETHER-K', 'BRINDABELLA', 'D-ISIPELE', 'D-LYRG1-1', 'EIS', 'FLAMINGO-1', 'GOSSAMER', 'HIVE', 'NAMADGI', 'ORASAT', 'SUPA-NGSO-1', 'KAZSTSAT', 'DZZ-MR', 'DZZ-HR', 'KAZEOSAT-MR', 'FY-2A', 'FY-2AS', 'FY-2B', 'FY-2BS', 'FY-2C', 'FY-2CS', 'FY-3', 'FY-3-A', 'FYGEOSAT-105E', 'FYGEOSAT-112E', 'FYGEOSAT-123.5E', 'FYGEOSAT-86.5E', 'FYGEOSAT-99.5E', 'FYGEOSAT-A-105E', 'FYGEOSAT-A-123.5E', 'FYGEOSAT-A-133E', 'FYGEOSAT-A-79E', 'FYGEOSAT-A-86.5E', 'CHNBSAT-K1-92.2E', 'CHNBSAT-K1-101.4E', 'CHNBSAT-K-134E', 'ASIASAT-NGSO-1', 'CHINASAT-E-33.5E', 'CHINASAT-E-85.5E', 'CHINASAT-F-41.6W', 'CHINASAT-F-87.5E', 'CHINASAT-F-110.5E', 'CHINASAT-F-126E', 'CHINASAT-F-163E', 'CHINASAT-F-164E', 'CHINASAT-G-87.5E', 'CHINASAT-G-115.5E', 'CHINASAT-G-125E', 'CHINASAT-G-12.4W', 'CHINASAT-G-72.6W', 'CHINASAT-H-113E', 'CHINASAT-H-125E', 'CHINASAT-H-163.4E', 'SPACEWAY', 'TSN-1A', 'C-SAT-LEO', 'CNSAT-152.8E', 'CNSAT-158E', 'CNSAT-174W', 'CNSAT-29.6E', 'CNSAT-72E', 'CNSAT-76.5W', 'CNSAT-89.8E', 'CSN-L1', 'CSN-L2', 'CSN-L3', 'CSN-V1-1', 'CSN-V1-2', 'CSN-V1-3', 'CSN-V2-1', 'CSN-V2-2', 'CSN-V3-1', 'CSN-V3-2', 'CSN-V4', 'CSN-V5', 'CSN-V6', 'CSN-V7', 'GW', 'GW-2', 'GW-A59', 'MCNT-02', 'MCNT-03', 'SIGNSAT-108E', 'SIGNSAT-10W', 'SIGNSAT-11E', 'SIGNSAT-127E', 'SIGNSAT-132E', 'SIGNSAT-148E', 'SIGNSAT-151E', 'SIGNSAT-151E_1', 'SIGNSAT-15E', 'SIGNSAT-15W', 'SIGNSAT-160E', 'SIGNSAT-18W', 'SIGNSAT-1E', 'SIGNSAT-25E', 'SIGNSAT-28W', 'SIGNSAT-2W', 'SIGNSAT-32E', 'SIGNSAT-33E', 'SIGNSAT-40E', 'SIGNSAT-40W', 'SIGNSAT-41E', 'SIGNSAT-43E', 'SIGNSAT-46W', 'SIGNSAT-50W', 'SIGNSAT-58W', 'SIGNSAT-66W', 'SIGNSAT-96E', 'SIGNSAT-96E_1', 'SIGNSAT-NGSO', 'GC-1', 'GC-11B', 'GC-8', 'HY-2N', 'GC-9', 'GC-5-02', 'GC-5-03', 'GC-17', 'GC-16', 'GC-TC05', 'GC-MEO', 'GC-2', 'GC-5', 'ZH-1', 'GC-7', 'ZH-1-02', 'SAILSPACE-2-A', 'SAILSPACE-2-B', 'SAILSPACE-2-C', 'ADF 104E IOR', 'ADF 140E POR', 'ADF 156E POR', 'ADF 88E IOR', 'ADF 95E IOR', 'ADF POR-1', 'ADF POR-2', 'WRESAT-2', 'MNSAT', 'A4NG', 'ANGELS-F', 'ASTROID', 'ASV', 'BRONET', 'CERES', 'CO3D', 'CSO', 'DORIS-2', 'ELISA', 'EYESAT', 'F-SAT-NG-12', 'F-SAT-NG-8', 'FUTUR-NAV-DEMO-A-B', 'HE2', 'JASON3', 'MICROCARB', 'MICROSCOPE', 'MISSION_POSSIBLE', 'NANODEMO1', 'PLEIADES', 'PROTEUS-TPFO', 'PROTOMETHEE', 'ROBUSTA-3A', 'SOAP-1', 'SPOT-2', 'SPOT-3', 'TARANIS-A', 'UVSQ-SAT-NG', 'FMS5-45.5E', 'FMS5-46E', 'FMS5-45E', 'FMS5-37.5E', 'FMS5-47E', 'FMS5-46E', 'FMS5-45.5E', 'FMS5-37E', 'FMS5-45E', 'FMS5-33E', 'FMS5-25E', 'FMS5-3E', 'FMS5-5W', 'FMS5-6W', 'FMS5-7W', 'FMS5-8W', 'ATHENA-FIDUS-38E', 'SYRACUSE-31H', 'SYRACUSE-31E', 'SYRACUSE-3E', 'SYRACUSE-3H', 'SYRACUSE-3H', 'SYRACUSE-3E', 'SOHO', 'ACES-2', 'XMM', 'MSATNAV-2', 'MSATNAV-3', 'MSATNAV-4', 'GALILEO-2G', 'GALILEO-L3', '', 'PAKTES-1', 'PAKTES-1B1', 'PRSC-EOS', 'K-HS1', 'K-S1', 'allGSOsatellites', 'GABRIEL-1', '', 'GOSAT-GW', 'QZSS-1', 'GOSAT-GW', 'QZSS-1', 'OPTI-KANSEN', 'LOGSATS', 'NAPA-2', 'RTAFSAT', 'THAIIOT', 'THEOS', 'THEOS2', 'THEOS2-SMALLSAT', 'MILSPACE2', 'SPACETOWER-1', 'EOS AGRISAT-1']

## Step 2 
separate the conflicts

In [8]:
outfolder = 'output_tables'
if not os.path.exists(outfolder):
    os.makedirs(outfolder)
conflict_tables_separator(expanded, tpadf, outfolder)

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
['TPA1.401.95525-401.96475_R', 'TPA1.401.9501-401.9699_R', 'TPA1.2055.475-2055.725_R', 'TPA1.401.89525-401.90475_R', 'TPA1.2237.0-2238.0_E', 'TPA1.2065.575-2065.825_R', 'TPA1.401.9501-401.9699_E', 'TPA1.401.8901-401.9099_R', 'TPA1.401.95525-401.96475_E', 'TPA1.401.8901-401.9099_E', 'TPA1.401.89525-401.90475_E', 'TPA1.2202.4-2203.4_E']
table saved to output_tables/TPA1.401.95525-401.96475_R_E.csv
table saved to output_tables/TPA1.401.95525-401.96475_R_R.csv
table saved to output_tables/TPA1.401.95525-401.96475_R_E_worstcase.csv
table saved to output_tables/TPA1.401.95525-401.96475_R_R_worstcase.csv
table saved to output_tables/TPA1.401.9501-401.9699_R_E.csv
table saved to output_tables/TPA1.401.9501-401.9699_R_R.csv
table saved to output_tables/TPA1.401.9501-401.9699_R_E_worstcase.csv
table saved to output_tables/TPA1.401.9501-401.9699_R_R_worstcase.csv
table saved to output_tables/TPA1.2055.475-2055.725_R_R.csv
table saved to output_tables/TPA1.2055.475-2055.725_R_R_worstcase.csv
table saved to output_tables/TPA1.401.89525-401.90475_R_E.csv
table saved to output_tables/TPA1.401.89525-401.90475_R_R.csv
table saved to output_tables/TPA1.401.89525-401.90475_R_E_worstcase.csv
table saved to output_tables/TPA1.401.89525-401.90475_R_R_worstcase.csv
table saved to output_tables/TPA1.2237.0-2238.0_E_E.csv
table saved to output_tables/TPA1.2237.0-2238.0_E_E_worstcase.csv
table saved to output_tables/TPA1.2065.575-2065.825_R_R.csv
table saved to output_tables/TPA1.2065.575-2065.825_R_R_worstcase.csv
table saved to output_tables/TPA1.401.9501-401.9699_E_E.csv
table saved to output_tables/TPA1.401.9501-401.9699_E_R.csv
table saved to output_tables/TPA1.401.9501-401.9699_E_E_worstcase.csv
table saved to output_tables/TPA1.401.9501-401.9699_E_R_worstcase.csv
table saved to output_tables/TPA1.401.8901-401.9099_R_E.csv
table saved to output_tables/TPA1.401.8901-401.9099_R_R.csv
table saved to output_tables/TPA1.401.8901-401.9099_R_E_worstcase.csv
table saved to output_tables/TPA1.401.8901-401.9099_R_R_worstcase.csv
table saved to output_tables/TPA1.401.95525-401.96475_E_E.csv
table saved to output_tables/TPA1.401.95525-401.96475_E_R.csv
table saved to output_tables/TPA1.401.95525-401.96475_E_E_worstcase.csv
table saved to output_tables/TPA1.401.95525-401.96475_E_R_worstcase.csv
table saved to output_tables/TPA1.401.8901-401.9099_E_E.csv
table saved to output_tables/TPA1.401.8901-401.9099_E_R.csv
table saved to output_tables/TPA1.401.8901-401.9099_E_E_worstcase.csv
table saved to output_tables/TPA1.401.8901-401.9099_E_R_worstcase.csv
table saved to output_tables/TPA1.401.89525-401.90475_E_E.csv
table saved to output_tables/TPA1.401.89525-401.90475_E_R.csv
table saved to output_tables/TPA1.401.89525-401.90475_E_E_worstcase.csv
table saved to output_tables/TPA1.401.89525-401.90475_E_R_worstcase.csv
table saved to output_tables/TPA1.2202.4-2203.4_E_E.csv
table saved to output_tables/TPA1.2202.4-2203.4_E_R.csv
table saved to output_tables/TPA1.2202.4-2203.4_E_E_worstcase.csv
table saved to output_tables/TPA1.2202.4-2203.4_E_R_worstcase.csv