In [7]:
import pandas as pd
import numpy as np
import os
from IPython.display import display
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from ITUtils import *
from tqdm.notebook import tqdm
import re

In [8]:
# replace the header in the newcountriestables folder

In [9]:
# folder
folder = 'countriestables'
# ref file
lut  = 'lookupnew.csv'

In [10]:
# open lut
pdlut = pd.read_csv(lut, header=None)
display(pdlut)
oldnames = pdlut[:1].values.flatten().tolist()

newnames = pdlut[1:2].values.flatten().tolist()

rename_dict = dict(zip(oldnames, newnames))
print(rename_dict)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,ntc_id,tgt_ntc_id,adm,ntwk_org,sat_name,long_nom,prov,d_rcv,st_cur,orb_id,...,d_prot_eff,f_biu,emiss.seq_no,pwr_ds_max,design_emi,freq_carr,seq_emiss,carrier_fr.seq_no,ctry,f_excl_api
1,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.prov,com_el.d_rcv,com_el.st_cur,orbit.orb_id,orbit.nbr_sat_pl,...,grp.d_prot_eff,grp.f_biu,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr,carrier_fr.seq_emiss,carrier_fr.seq_no,srv_area.ctry,srv_area.f_excl_api

{'ntc_id': 'com_el.ntc_id', 'tgt_ntc_id': ' com_el.tgt_ntc_id', 'adm': ' com_el.adm', 'ntwk_org': ' com_el.ntwk_org', 'sat_name': ' com_el.sat_name', 'long_nom': ' com_el.prov', 'prov': ' com_el.d_rcv', 'd_rcv': ' com_el.st_cur', 'st_cur': ' orbit.orb_id', 'orb_id': ' orbit.nbr_sat_pl', 'nbr_sat_pl': ' orbit.inclin_ang', 'apog_km': ' orbit.apog_km', 'perig_km': ' orbit.perig_km', 'op_ht_km': ' orbit.op_ht_km', 'emi_rcp': ' s_beam.emi_rcp', 'beam_name': ' s_beam.beam_name', 'grp_id': ' grp.grp_id', 'freq_min': ' grp.freq_min', 'freq_max': ' grp.freq_max', 'bdwdth': ' grp.bdwdth', 'd_inuse': ' grp.d_inuse', 'd_reg_limit': ' grp.d_reg_limit', 'd_prot_eff': ' grp.d_prot_eff', 'f_biu': ' grp.f_biu', 'emiss.seq_no': ' emiss.seq_no', 'pwr_ds_max': ' emiss.pwr_ds_max', 'design_emi': ' emiss.design_emi', 'freq_carr': ' carrier_fr.freq_carr', 'seq_emiss': ' carrier_fr.seq_emiss', 'carrier_fr.seq_no': ' carrier_fr.seq_no', 'ctry': ' srv_area.ctry', 'f_excl_api': ' srv_area.f_excl_api'}

example use

In [11]:
# # open an example file
# hol = pd.read_csv(os.path.join(folder, 'HOL.csv'))
# display(hol)
# # Replace headers in hol using the lookup table
# hol.rename(columns=rename_dict, inplace=True)
# display(hol)

full folder replacement

In [12]:
# do it for every file in the folder
for file in tqdm(os.listdir(folder)):
    df = pd.read_csv(os.path.join(folder, file), low_memory=False)
    df.rename(columns=rename_dict, inplace=True)
    # save 
    df.to_csv(os.path.join(folder, file), index=False)

  0%|          | 0/42 [00:00<?, ?it/s]