# Frequency Range extraction
obtain the frequency range for the TPA1 satellite from the ITU database

In [1]:
import pandas as pd
from IPython.display import display
from ITUtils import itu_to_bandwidth, channel_appender

In [2]:
filename = './databases/NZquery.csv'
# import the table using pandas
NZdataframe = pd.read_csv(filename)
# check the table header
print(NZdataframe.columns)
# get the TPA table only
TPAdf = NZdataframe[NZdataframe[' com_el.sat_name'] == 'TPA-1']
# check the content
display(TPAdf)

Index(['com_el.ntc_id', ' com_el.tgt_ntc_id', ' com_el.adm',
       ' com_el.ntwk_org', ' com_el.sat_name', ' com_el.long_nom',
       ' com_el.ntc_type', ' com_el.prov', ' com_el.ntf_rsn', ' com_el.d_rcv',
       ' orbit.orb_id', ' orbit.nbr_sat_pl', ' orbit.apog_km',
       ' orbit.perig_km', ' orbit.op_ht_km', ' s_beam.emi_rcp',
       ' s_beam.beam_name', ' grp.grp_id', ' grp.freq_min', ' grp.freq_max',
       ' grp.bdwdth', ' emiss.seq_no', ' emiss.pwr_ds_max',
       ' emiss.design_emi', ' carrier_fr.freq_carr'],
      dtype='object')

,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.long_nom,com_el.ntc_type,com_el.prov,com_el.ntf_rsn,com_el.d_rcv,...,s_beam.emi_rcp,s_beam.beam_name,grp.grp_id,grp.freq_min,grp.freq_max,grp.bdwdth,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr
0,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,UHFUP,124694579,401.825,402.0,NaN,2,-55.0,9K50F1DAN,401.96
1,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,UHFUP,124694579,401.825,402.0,NaN,1,-55.0,19K8F1DAN,401.96
2,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,SUP,124694581,2055.000,2075.0,NaN,1,-41.0,250KM1DAN,2055.60
3,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,UHFUP,124694579,401.825,402.0,NaN,2,-55.0,9K50F1DAN,401.90
4,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,E,SDN,124694582,2202.000,2239.0,NaN,1,-55.8,1M00M1DAN,2237.50
5,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,SUP,124694581,2055.000,2075.0,NaN,1,-41.0,250KM1DAN,2065.70
6,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,E,UHFDN,124694580,401.825,402.0,NaN,1,-39.8,19K8F1DAN,401.96
7,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,UHFUP,124694579,401.825,402.0,NaN,1,-55.0,19K8F1DAN,401.90
8,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,E,UHFDN,124694580,401.825,402.0,NaN,2,-39.8,9K50F1DAN,401.96
9,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,E,UHFDN,124694580,401.825,402.0,NaN,1,-39.8,19K8F1DAN,401.90
10,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,E,UHFDN,124694580,401.825,402.0,NaN,2,-39.8,9K50F1DAN,401.90
11,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,E,SDN,124694582,2202.000,2239.0,NaN,1,-55.8,1M00M1DAN,2202.90

In [3]:
# filter by fmin, fmax and emission direction
colums_to_keep = [' grp.grp_id',' emiss.seq_no',' s_beam.beam_name', ' grp.freq_min', ' grp.freq_max', ' s_beam.emi_rcp', ' carrier_fr.freq_carr',
                  ' emiss.design_emi']
TPAfreqs = TPAdf[colums_to_keep]

# sort by carrier
TPAfreqs = TPAfreqs.sort_values(by=[ ' grp.grp_id',' carrier_fr.freq_carr', ' s_beam.emi_rcp', ' emiss.design_emi'])
display(TPAfreqs)
fmins = TPAfreqs[' grp.freq_min'].unique()
fmaxs = TPAfreqs[' grp.freq_max'].unique()

# Create a DataFrame with the unique values
unique_freqs_df = pd.DataFrame({
    ' grp.freq_min': fmins,
    ' grp.freq_max': fmaxs
})

# Display the DataFrame as a nicely formatted table
display(unique_freqs_df)

,grp.grp_id,emiss.seq_no,s_beam.beam_name,grp.freq_min,grp.freq_max,s_beam.emi_rcp,carrier_fr.freq_carr,emiss.design_emi
7,124694579,1,UHFUP,401.825,402.0,R,401.90,19K8F1DAN
3,124694579,2,UHFUP,401.825,402.0,R,401.90,9K50F1DAN
1,124694579,1,UHFUP,401.825,402.0,R,401.96,19K8F1DAN
0,124694579,2,UHFUP,401.825,402.0,R,401.96,9K50F1DAN
9,124694580,1,UHFDN,401.825,402.0,E,401.90,19K8F1DAN
10,124694580,2,UHFDN,401.825,402.0,E,401.90,9K50F1DAN
6,124694580,1,UHFDN,401.825,402.0,E,401.96,19K8F1DAN
8,124694580,2,UHFDN,401.825,402.0,E,401.96,9K50F1DAN
2,124694581,1,SUP,2055.000,2075.0,R,2055.60,250KM1DAN
5,124694581,1,SUP,2055.000,2075.0,R,2065.70,250KM1DAN
11,124694582,1,SDN,2202.000,2239.0,E,2202.90,1M00M1DAN
4,124694582,1,SDN,2202.000,2239.0,E,2237.50,1M00M1DAN

   grp.freq_min  grp.freq_max
0       401.825         402.0
1      2055.000        2075.0
2      2202.000        2239.0

# Append Channel information and create TPA1 reference table

In [4]:
# Example usage for itu_to_bandwidth in file ITUtils.py
itu_designation = "1M00M1DAN"
bandwidth = itu_to_bandwidth(itu_designation) / 1000000
print(f"The bandwidth for {itu_designation} is {bandwidth} MHz")

The bandwidth for 1M00M1DAN is 1.0 MHz

In [8]:

# Add columns for channel bandwidth, channel frequency minimum, and channel frequency maximum
TPAfreqs = channel_appender(TPAfreqs)

# Display the updated DataFrame REMOVE ORDERING
display(TPAfreqs.sort_index())

,grp.grp_id,emiss.seq_no,s_beam.beam_name,grp.freq_min,grp.freq_max,s_beam.emi_rcp,carrier_fr.freq_carr,emiss.design_emi,channel.bandwidth,channel.freq_min,channel.freq_max
0,124694579,2,UHFUP,401.825,402.0,R,401.96,9K50F1DAN,9500.0,401.95525,401.96475
1,124694579,1,UHFUP,401.825,402.0,R,401.96,19K8F1DAN,19800.0,401.95010,401.96990
2,124694581,1,SUP,2055.000,2075.0,R,2055.60,250KM1DAN,250000.0,2055.47500,2055.72500
3,124694579,2,UHFUP,401.825,402.0,R,401.90,9K50F1DAN,9500.0,401.89525,401.90475
4,124694582,1,SDN,2202.000,2239.0,E,2237.50,1M00M1DAN,1000000.0,2237.00000,2238.00000
5,124694581,1,SUP,2055.000,2075.0,R,2065.70,250KM1DAN,250000.0,2065.57500,2065.82500
6,124694580,1,UHFDN,401.825,402.0,E,401.96,19K8F1DAN,19800.0,401.95010,401.96990
7,124694579,1,UHFUP,401.825,402.0,R,401.90,19K8F1DAN,19800.0,401.89010,401.90990
8,124694580,2,UHFDN,401.825,402.0,E,401.96,9K50F1DAN,9500.0,401.95525,401.96475
9,124694580,1,UHFDN,401.825,402.0,E,401.90,19K8F1DAN,19800.0,401.89010,401.90990
10,124694580,2,UHFDN,401.825,402.0,E,401.90,9K50F1DAN,9500.0,401.89525,401.90475
11,124694582,1,SDN,2202.000,2239.0,E,2202.90,1M00M1DAN,1000000.0,2202.40000,2203.40000

In [7]:
# create reference database of tpa1 for conflicts determination
TPAdf = channel_appender(TPAdf)
outname = './databases/TPAtable.csv'

# Save the DataFrame to a CSV file
TPAdf.to_csv(outname, index=False)

print('DataFrame saved to' ,outname)

DataFrame saved to ./databases/TPAtable.csv